body {
  .devicon-wrap {
    margin: 8px auto 8px auto;
    display: flex;
    justify-content: space-evenly;
  }

  .devicons {
    max-width: 75px;
    width: 100%;
  }

  .section-header {
    margin-bottom: 40px;
  }

  #projects {
    .columns {
      max-width: 900px;
      margin: 0 auto;
      width: 100%;
      // justify-content: space-between;
      // align-items: center;

      div .project-pic {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
      }

      .pic-wrapper {
        padding: 0.1rem;
      }

      .project-descriptor {
        .description-contents {
          font-size: 1.5rem;
        }
      }
    }
  }

  #avatar {
    max-width: 300px;
    width: 100%;
    z-index: 0;
  }

  @media (min-width: 768px) {
    .reverse-mobile {
      flex-direction: row-reverse;
    }
  }
}
