body {
  background-image: url(../assets/nasa-starfield.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
  background-position-x: left;
}

.page-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.devicon-wrap {
  margin: 8px auto 8px auto;
  display: flex;
  justify-content: space-evenly;
}

.devicons {
  max-width: 75px;
  width: 100%;
}

.contact-icon {
  font-size: 24px;
}

#avatar {
  max-width: 300px;
  width: 100%;
}
