@charset "utf-8";

// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
// $purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;
// $light-black: #1b2224;
// $lighter-black: #282a36;
$rich-black: #080f0f;
$smoky-black: #070707;
$blue-green: #119da4;
$tiffany-blue: #03b5aa;
$barbie-pink: #ed217c;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
$primary: $blue-green;
$link: $barbie-pink;
$success: $tiffany-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$title-color: $barbie-pink;
$text: $blue-green;

// Update some of Bulma's component variables
$body-background-color: $rich-black;
$footer-background-color: $smoky-black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: $rich-black;
$box-background-color: $smoky-black;
$navbar-item-hover-background-color: $rich-black;
$navbar-breakpoint: 768px;
// Message variables
$message-background-color: $smoky-black;
// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import "./global.scss";
@import "./index.scss";
@import "./about.scss";