body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../assets/nasa-starfield.jpg);
  background-size: cover;
  background-position-y: center;
  background-position-x: left;

}

/* .title {
  text-align: center;
}

.subtitle {
  text-align: center;
} */

.icon-wrap {
  margin: 8px auto 8px auto;
  display: flex;
  justify-content: space-around;
}

.devicons {
  max-width: 75px;
  width: 100%;
}


#avatar {
  max-width: 300px;
  width: 100%;
}

